* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #141414;
}

.float {
    display: flex;
    align-items: center;
    background-color: transparent;

}

.float>div>ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    font-size: 0.7em;
    display: flex;
    align-items: center;

}

.float>div>.primero {
    min-width: 70vw;
    font-size: medium;

}

.float>div>.segundo {
    min-width: 30vw;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: medium;
}

.float>div>ul>li {
    padding-left: 0.6rem;

}

a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.segundo>.dropdown>.right>a>img,
td>a>img {
    width: 1.5rem;
    border-radius: 0.2rem;
}


.segundo {
    padding-right: 2rem;
}

.primero>li>img {
    width: 80px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

.fondo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.fondo>img {
    max-height: 99vh;
    min-width: 100vw;
    object-fit: cover;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background: rgba(20, 20, 20, 0.747);
    color: white;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

span {
    color: white;    
}

table {
    width: 15vw;
}

td>a {
    display: flex;
    align-items: center;
    height: 7vh;
    padding-left: 1rem;    
    font-size:small;
}

header span{
    margin-left: 1rem;    
    margin-right: 1rem;
}

td>a>img, td>a>span {
    margin-right: 1rem;
    margin-left: 0rem;
}

body > header > div > div:nth-child(2) > ul > div:nth-child(4) > li > span{
    padding-right: 0%;
    margin-right: 0%;
    margin-left: 0rem;
    padding-left: 0%;
}

#notificacion{
    height: 100vh;
    width: 70vh;
}
.scroll{
    width: 25vh;
}

.main-info {
    width: 625px;
    margin: 28px;
    font-family: sans-serif;
    font-weight: bolder;
}

.svg-icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 16px;
}

.tendencia {
    font-size: 2em;
    margin-top: 12px;
    display: flex;
    align-items: center;
}

div.main-info p {
    margin: 1em 0;
}

div.main-info>button {
    padding: .5em 1.5em 0.5em 1em;
    border-radius: 4px;
    border: none;
    display: inline-flex;
    align-items: center;
}

div.main-info>button:hover {
    cursor: pointer;
}

button.btn-1 span {
    color: #000;
}

div.main-info span {
    margin: 0 5px 0 0;
}

.btn-1 .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.btn-1 {
    background-color: #fff;
    color: #000;
}

.btn-1:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.btn-2 {
    background-color: rgba(109, 109, 110, 0.7);
}

.btn-2:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.maturity-rating {
    background-color: rgba(51,51,51,.6);
    width: 5.5em;
    border: 3px #dcdcdc;
    border-left-style: solid;    
    padding: 9px 50px 9px 10px;
    display: flex;
    font-weight: bolder;
}

.maturity-div {
    display: flex;
    justify-content: end;
}

.footer{
    padding: 50px 30px 20px 30px;
    color: rgb(153, 152, 152);
}


.columna-footer {
    padding: 25px;
}

.footer .columna-footer a {
    display: block;
    color: rgb(138, 139, 139);
    font-size:small;
    margin-bottom: 15px;
}

.filas {
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: transparent;
    color: rgb(138, 139, 139);
    font-size:small;
    border: 0.01rem solid  rgb(138, 139, 139) ;
    padding: 0.3rem;   
}

.boton{
    margin-left:32%;
    font-size:small;
    color: rgb(138, 139, 139);
}

.boton>p{
    margin-top: 0.5rem;
    color: rgb(138, 139, 139);
}



main>div>h2{
font-size:large;
margin-left: 1.5rem;
}
.tarjetas>.card{
    margin: 0.2rem;
    border: none;
}

.lineal{    
    min-width: 90vw;
    
    margin-bottom: 2%;
}
#lineal{
    margin-top: 20%;
}
.tarjetas{
    margin-left: 1rem;
    min-width: 85vw;
    
}
.card{
    min-width:15%;
    max-width:15%;
}

.maturity-rating p {
    margin-bottom: 0;
}